<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="uk-height-1-1 uk-notouch">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>天下</title>
</head>

<link rel="stylesheet" href="//cdn.bootcss.com/uikit/2.25.0/css/uikit.min.css" />
<script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.min.js"></script>
 
<body class="uk-height-1-1">

        <div class="uk-vertical-align uk-text-center uk-height-1-1">
            <div class="uk-vertical-align-middle" style="width: 250px;">

                <img class="uk-margin-bottom" width="140" height="120" src="{{src}}" alt="">

                <form class="uk-panel uk-panel-box uk-form" action="{{url}}" method="POST">
                    <div class="uk-form-row">
                        <!-- <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Username" name="name"> -->
                        <p class="uk-width-1-1 uk-form-large" type="text">{{tip}}</p>
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-width-1-1 uk-form-large" type="text" placeholder="密码" name="passwd">
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit" value="登录">
                    </div>
                    <div class="uk-form-row uk-text-small">
                        <label class="uk-float-left"><input type="checkbox"> Remember Me</label>
                        <a class="uk-float-right uk-link uk-link-muted">Forgot Password?</a>
                    </div>
                </form>

            </div>
        </div>    

</body>
</html>



